/**
* Estudo dos menus
* Exemplo 1 - menu simples
*/

body{
    font-family: sans-serif;
}
nav{
    float: right;
}
nav ul{
    list-style: none; /* remover os bullets */
    margin:0;
    padding:0;
}

nav ul li{
    float: left;        
}

nav ul li a{
    text-decoration: none; /*Remover o sublinhado do link*/
    color: #000000;
    padding: 15px 15px 2px 15px; /* espaçamento entre as palavras*/ 
    font-weight: bold;
}

/* hover "mouse em cima do objeto <tag>" */
nav ul li a:hover{
    color: #ff0000;
    transition: all0 0.5s; /* delay na transição*/
    border-bottom: #ff0000 1px solid ; /*desenhando borda*/
}