/**
* Folha de estilo do site html5 + CSS3
* @author Professor José de Assis
*/

/*************** Importando fontes ****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');

/*************** Principal *****************/
/* o bloco abaixo compatibiliza os navegadores */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e8e8;
}

/*
 # (id) . (class) - Podemos criar um estilo para a TAG, id ou class
*/

#main{
    max-width: 1024px;
    background-color: #ffffff;
    margin: 0 auto; /* centraliza a div */
    margin-top: 50px; /* box model */
}

/******************* header *********************/


#social{
    float: right;
    /* box model completo especificando top right bottom left */
    padding: 20px 20px 0px 0px;    
}

#logo {
    /* box model completo */
    padding: 20px;
}

/*********************** Menu *************************/
nav {
    width: 100%;
    max-width: 1024px;
    position: absolute;   
}

nav ul{
    list-style: none;
  
}

nav > ul > li{
    float: left;
    width: 25%;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    background-color: #239c7e;
    padding: 15px;
    display: block;
    text-align: center;
    transition: all 0.4s;
}

nav ul li a:hover{
    background-color: #29b995;
    transition: all 0.4s;
}

nav li ul{
    display: none;
}

nav li:hover ul{
    display: block;        
}

.Detalhes:after{ 
	content:''; 
	border: 5px solid transparent;
	border-top-color: #e8e8e8;
	display: inline-block;
	vertical-align: middle;	
}

.Mobile{
    display: none;
}

/* classe manipulada pelo JS/JQUERY */
.Fixar{
    position: fixed;
    top: 0;
}



/******** Banner **********/
#banner{
    margin-top: 52px;
    height: 350px;
    /* FLEXIBILIZANDO O LAYOUT PARA ALINHAMENTO VERTICAL*/
    display: flex;
    align-items: center;
}

#banner h1{
    font-family:   'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    text-transform: uppercase; /*DEIXA tudo maiusculo*/
}
/***** HEADING line******/
#heading{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

#heading h2{
    font-weight: 400;
}

#html5{
    font-weight: 600; /*negrito*/
    color: #239c7e;
}

#css3{
    font-weight: 600;
    color: #239c7e;
}

/************** DESTAQUE ******************/
#destaque{
    max-width: 1024px;
    height: 320px;
}


.card{
    width: 30%;
    height: 320px;
    float: left;
    margin-left: 2.56%;
    border: 1px solid #a8a8a8;
    text-align: center;
    position: relative; /*Posicionamento*/
    
}


.card h3{
    text-align: center;
}
.card p{
    padding: 15px;
    text-align: left;
}

.card a{
    width: 80px; /*Só é aceito em position absolute*/
    height: 30px;
    background-color: #11ee77;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight:bold;
    position: absolute;
    text-align: center;
    bottom: 7px;
    right: 7px;
    
}

.card a:hover{
    background-color: #239c7e;
    transition: 1s;
}

/****CONTEUDO **/

.conteudo{
    margin-top: 102px;
    padding: 20px;
    text-align: center;
}
#contato{
    padding-top: 102px;; 
    width: 70%;
    margin: 0 auto;
}

#contato h1{
    margin-bottom: 20px;
}

#contato input[type=text]{
    width: 100%;
    border: solid 1px #11ee77;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; /*Arredondar os cantos*/
}

#contato textarea{
    width: 100%;
    border: 1px solid #11ee77;
    border-radius: 5px;
    margin-bottom: 20px;
    resize: none;
    padding: 10px 10px 40px 10px;
}

#contato input[type=submit]{
    background-color: #11ee77;
    border: 1px solid #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}

#contato input[type=submit]:hover{
    background-color: #242c28;
}

/*****IMAGENS CURSOS******/

.conteudo img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

/************ CLASS CONTEUDO SOBRE HTML & CSS ****************/

.conteudo p{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 150px 0px 150px;
}

.conteudo h1{
    text-align: center;
}

.conteudo h2{

    margin-top: 55px;

}


/**LINK PROJETO**/
.projetos a{
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    background-color: #239c7e;
    display: block;
    transition: all 0.4s;
    margin-right: 40%;
    margin-left: 40%;
   
}

.projetos a:hover{
    background-color: #13221a;
    
}

/** BARRA DE PESQUISA*/
.pesquisa{
    width: 40%;
    margin-left: 60%;
}

/*********FORMULARIO********/

/***  SETA PARA O TOPO***/

.Top{
    float: right;
    cursor: pointer;
}

/***************** RODAPÉ ********************/
footer{
    background-color: #239c7e;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 0.75em; /*responsividade ver tabela de conversão */
}

footer p{
    letter-spacing: 4px;
}
/****************** SELO *******************/
#selo{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 15px;
}

/*************** Tratamento Responsivo ***************/
/**** tornar todas as imagens responsivas ****/ 
img {
    max-width: 100%;
}

/* o bloco abaixo modifica o comportamento do CSS para telas
com tamanho de até 480px */
@media screen and (max-width: 480px){
    
    /*************** header ****************/
    #main{
        margin: 0;

    }
    
    header{
        text-align: center; /* centralizar todos elementos */
    }

   #social{
       float: none;
       padding-right: 0;
   }

   /***************** Menu *****************/
   .Mobile{
       display: block;
       background-color: #e15a1f;
       color: #ffffff;
       text-decoration: none;
       padding: 15px;
   }

   nav{
       z-index: 3; /*ELEVA 3 camadas*/
   }

   nav > ul > li{
       float: none;
       width: 100%;
   }

   nav ul{
       display: none;
   }

   /*** melhorando UX (User eXperience) ***/
   nav ul li a{
       text-align: left;
   }

   nav li ul li{
       background-color: #044364;
   }

   nav li ul li a{
        background-color: #cf5629;
        padding-left: 40px;
   }
    /********* BANNER *************/
    #banner{
        height: 175px;
    }

    #banner h1{
        font-size: 1.5em;
    }


    /*********** HEADING *************/
    #heading{
        width: 90%;
        padding: 20px;
    }
    /*********** CARDS ***********/
    #destaque{
        max-width: 315px;
        margin: 0 auto;
        height: 320px;
    }

    .card{
        float: none;
        width: 100%;
        height: 320px;
        margin: 0;
        margin-bottom: 20px;
    }

    /**/
    .conteudo h2{
        margin-top: -185px;
    }

    /****HTML3*****/
    .video{
        width: 285px;
        height: 200px;
    }

    .conteudo p{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .conteudo h2{
    
        margin-top: 55px;
    
    }
    

}

