/**
 estudo do float
 @author Luiz Henrique
*/

#main{
    max-width: 750px;
    height: 750px;
    margin: 0 auto;
    background-color: #030000;
}
#vermelho{
    width: 250px;
    height: 250px;
    background-color: #ff0000;
    float: left;
}

#verde{
    width: 250px;
    height: 250px;
    background-color: #33ff00;
    float: left;
}

#azul{
    width: 250px;
    height: 250px;
    background-color: #00e1ff;
    float: left;
}


